# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

/vendor
.env
.env-test

.idea/

/credentials.php
tests/labels/*.pdf
.phpunit*

.php_cs.cache
.php_cs
